@model IEnumerable<Proyecto_CineClub.Models.Funcion>

<h2 class="mb-4 text-center">Funciones Disponibles</h2>
<div class="table-responsive">
    <table class="table table-bordered table-striped">
        <thead class="table-dark">
            <tr>
                <th>Inicio de la Función</th>
                <th>Fin de la Función</th>
                <th class="text-center">Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var funcion in Model)
            {
                <tr>
                    <td>@funcion.InicioFuncion.ToString("dd/MM/yyyy HH:mm")</td>
                    <td>@funcion.FinFuncion.ToString("dd/MM/yyyy HH:mm")</td>
                    <td class="text-center">
                        @Html.ActionLink("Seleccionar Asientos", "SeleccionarAsientos", "TicketPurchase", new { id_funcion = funcion.IdFuncion }, new { @class = "btn button-style" })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
