.button-style {
    background-color: #cddc39;
    font-weight:bold;
}
.carousel-item img {
    width: 100%; 
    height: 450px; 
    object-fit: cover;
}
.col{
    padding:10px
}
.img-index {
        width: 400px;
        object-fit: cover;
}
body {
    background-image: url('/Content/imagenes/img_fondo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
.custom-col {
    flex: 0 0 20%;
    max-width: 20%;
}

.title {
    font-style: oblique;
    text-decoration: none;
    color: #17202a;
}

    .title:hover {
        color: #e74c3c;
    }

.img-cartelera {
    width: 400px;
    object-fit: cover;
}

.custom-list {
    background-color: #3498db;
}
.custom-list:hover {
    background-color: #ec7063;
}

.custom-item {
    color: #ffffff;
}

    .custom-item:hover {
        color: #17202a;
    }