.button-style {
    background-color: #cddc39;
    font-weight:bold;
}
.carousel-item img {
    width: 100%; 
    height: 450px; 
    object-fit: cover;
}
.col{
    padding:10px
}
    .col img {
        width: 247px;
        height: auto;
        object-fit: cover;
        border-radius: 3px;
    }
body {
    background-image: url('/Content/imagenes/img_fondo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
